Repository cengage/react-magma: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest --coverage=false --bail --findRelatedTests

.lintstagedrc:

{
  "**/*.js": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,yml,yaml}": [
    "prettier --write"
  ],
  "packages/**/*.{ts,tsx,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/**/*.test.{ts,tsx}": [
    "jest --coverage=false --bail --findRelatedTests"
  ]
}

fix(checkbox, toggle): fix aria-describedby casing, add error examples
  packages/react-magma-docs/src/pages/api/checkboxes.mdx
  packages/react-magma-docs/src/pages/api/toggle.mdx
  packages/react-magma-dom/src/components/Checkbox/index.tsx
  packages/react-magma-dom/src/components/IndeterminateCheckbox/index.tsx
  packages/react-magma-dom/src/components/Toggle/Toggle.test.js
  packages/react-magma-dom/src/components/Toggle/index.tsx
Due: prettier --write, eslint --fix

v2.0.0-beta.86
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
  packages/react-magma-dom/CHANGELOG.md
  packages/react-magma-dom/package-lock.json
  packages/react-magma-dom/package.json
  packages/react-magma-legacy-selects/CHANGELOG.md
  packages/react-magma-legacy-selects/package-lock.json
  packages/react-magma-legacy-selects/package.json
Due: prettier --write

docs: fixed issue in docs
  packages/react-magma-docs/src/pages/api/tabs.mdx
  packages/react-magma-docs/src/pages/design/tabs.mdx
Due: none

docs: design intro - color update
  packages/react-magma-docs/src/pages/api-intro/changelog.mdx
  packages/react-magma-docs/src/pages/design/design-guidelines-styles.css
Due: none

[jenkins] update changelog
  packages/react-magma-docs/src/pages/api-intro/changelog.mdx
Due: none

v2.0.0-beta.87
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
  packages/react-magma-dom/CHANGELOG.md
  packages/react-magma-dom/package-lock.json
  packages/react-magma-dom/package.json
  packages/react-magma-legacy-selects/CHANGELOG.md
  packages/react-magma-legacy-selects/package-lock.json
  packages/react-magma-legacy-selects/package.json
Due: prettier --write

v2.0.0-beta.88
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
Due: prettier --write

fix(tabs): a11y enhancements for tablist and tab
  packages/react-magma-docs/src/pages/api/tabs.mdx
  packages/react-magma-dom/src/components/Dropdown/DropdownMenuItem.tsx
  packages/react-magma-dom/src/components/Dropdown/index.tsx
  packages/react-magma-dom/src/components/Tabs/Tab.test.js
  packages/react-magma-dom/src/components/Tabs/Tab.tsx
  packages/react-magma-dom/src/components/Tabs/index.tsx
  packages/react-magma-dom/src/utils/index.ts
Due: prettier --write, eslint --fix

docs: removed unnecessary alt text
  packages/react-magma-docs/src/pages/design/badges.mdx
  packages/react-magma-docs/src/pages/design/breadcrumb.mdx
  packages/react-magma-docs/src/pages/design/dropdown.mdx
  packages/react-magma-docs/src/pages/design/loading-indicators.mdx
  packages/react-magma-docs/src/pages/design/modals.mdx
  packages/react-magma-docs/src/pages/design/progress-bar.mdx
  packages/react-magma-docs/src/pages/design/selection-controls.mdx
  packages/react-magma-docs/src/pages/design/tabs.mdx
  packages/react-magma-docs/src/pages/design/typography.mdx
Due: none

refactor(datepicker): stop spreading event handler props
  packages/react-magma-dom/src/components/DatePicker/index.tsx
Due: prettier --write, eslint --fix

fix(tabs): fix string type in tabs api table
  packages/react-magma-docs/src/pages/api/tabs.mdx
Due: none

docs: date input guidelines
  packages/react-magma-docs/src/pages/api/date-pickers.mdx
  packages/react-magma-docs/src/pages/design/date-pickers.mdx
Due: none

chore: improve eslint/prettier setup
  jest.config.js
  lerna.json
  package-lock.json
  package.json
  packages/react-magma-dom/.npmrc
  packages/react-magma-dom/package-lock.json
  packages/react-magma-dom/package.json
  packages/react-magma-dom/src/components/DatePicker/CalendarContext.ts
  packages/react-magma-dom/src/components/DatePicker/CalendarMonth.test.js
  packages/react-magma-dom/src/components/Dropdown/index.tsx
  packages/react-magma-dom/src/components/IndeterminateCheckbox/IndeterminateCheckbox.test.js
  packages/react-magma-dom/src/components/PasswordInput/index.tsx
  packages/react-magma-dom/src/components/Select/SelectContainer.tsx
  packages/react-magma-dom/src/components/Table/Table.test.js
  packages/react-magma-dom/src/components/Tabs/Tab.test.js
  packages/react-magma-dom/src/components/Tabs/TabPanel.test.js
  packages/react-magma-dom/src/components/Tabs/Tabs.test.js
  packages/react-magma-icons/.eslintrc.js
  packages/react-magma-icons/.npmrc
  packages/react-magma-icons/package-lock.json
  packages/react-magma-icons/package.json
  packages/react-magma-legacy-selects/.eslintrc.js
  packages/react-magma-legacy-selects/package-lock.json
  packages/react-magma-legacy-selects/package.json
  scripts/clean.sh
Due: prettier --write, eslint --fix

fix(select, dropdown): fix aria lint errors
  packages/react-magma-dom/src/components/Dropdown/DropdownMenuItem.tsx
  packages/react-magma-dom/src/components/Dropdown/DropdownSplitButton.tsx
  packages/react-magma-dom/src/components/Select/SelectTriggerButton.tsx
  packages/react-magma-dom/src/i18n/default.ts
  packages/react-magma-dom/src/i18n/interface.ts
Due: prettier --write, eslint --fix

v2.0.0-beta.89
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
  packages/react-magma-dom/CHANGELOG.md
  packages/react-magma-dom/package-lock.json
  packages/react-magma-dom/package.json
  packages/react-magma-legacy-selects/CHANGELOG.md
  packages/react-magma-legacy-selects/package-lock.json
  packages/react-magma-legacy-selects/package.json
Due: prettier --write

v2.0.0-beta.90
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
  packages/react-magma-dom/CHANGELOG.md
  packages/react-magma-dom/package-lock.json
  packages/react-magma-dom/package.json
  packages/react-magma-legacy-selects/CHANGELOG.md
  packages/react-magma-legacy-selects/package-lock.json
  packages/react-magma-legacy-selects/package.json
Due: prettier --write

fix(dropdown): add aria-labelledby to menu div using button for label
  packages/react-magma-dom/src/components/Dropdown/DropdownButton.tsx
  packages/react-magma-dom/src/components/Dropdown/DropdownContent.tsx
  packages/react-magma-dom/src/components/Dropdown/DropdownSplitButton.tsx
  packages/react-magma-dom/src/components/Dropdown/index.tsx
Due: prettier --write, eslint --fix

v2.0.0-beta.91
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
Due: prettier --write

chore(dom): fix formatting
  package.json
  packages/react-magma-dom/.npmrc
  packages/react-magma-dom/src/components/Dropdown/DropdownContent.tsx
Due: prettier --write, eslint --fix

v2.0.0-beta.92
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
  packages/react-magma-dom/CHANGELOG.md
  packages/react-magma-dom/package-lock.json
  packages/react-magma-dom/package.json
  packages/react-magma-legacy-selects/CHANGELOG.md
  packages/react-magma-legacy-selects/package-lock.json
  packages/react-magma-legacy-selects/package.json
Due: prettier --write

build(tests): fix test running on changed files
  .lintstagedrc
Due: none

v2.0.0-beta.93
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
  packages/react-magma-dom/CHANGELOG.md
  packages/react-magma-dom/package-lock.json
  packages/react-magma-dom/package.json
  packages/react-magma-icons/CHANGELOG.md
  packages/react-magma-icons/package-lock.json
  packages/react-magma-icons/package.json
  packages/react-magma-legacy-selects/CHANGELOG.md
  packages/react-magma-legacy-selects/package-lock.json
  packages/react-magma-legacy-selects/package.json
Due: prettier --write

feat(tabs): arrow navigation for tabs
  packages/react-magma-dom/src/components/Tabs/Tab.tsx
  packages/react-magma-dom/src/components/Tabs/index.tsx
Due: prettier --write, eslint --fix

v2.0.0-beta.94
  CHANGELOG.md
  lerna.json
  packages/react-magma-docs/CHANGELOG.md
  packages/react-magma-docs/package-lock.json
  packages/react-magma-docs/package.json
  packages/react-magma-dom/CHANGELOG.md
  packages/react-magma-dom/package-lock.json
  packages/react-magma-dom/package.json
  packages/react-magma-icons/CHANGELOG.md
  packages/react-magma-icons/package-lock.json
  packages/react-magma-icons/package.json
  packages/react-magma-legacy-selects/CHANGELOG.md
  packages/react-magma-legacy-selects/package-lock.json
  packages/react-magma-legacy-selects/package.json
Due: prettier --write

docs: added spaces to all empty alt tags
  packages/react-magma-docs/src/pages/design/alerts.mdx
  packages/react-magma-docs/src/pages/design/card.mdx
  packages/react-magma-docs/src/pages/design/dropdown.mdx
  packages/react-magma-docs/src/pages/design/loading-indicators.mdx
  packages/react-magma-docs/src/pages/design/tables.mdx
  packages/react-magma-docs/src/pages/design/tabs.mdx
Due: none

docs: updated docs for links
  packages/react-magma-docs/src/pages/api/button.mdx
  packages/react-magma-docs/src/pages/api/hyper-link.mdx
Due: none

docs: updated image for button example
  packages/react-magma-docs/src/images/buttons/ex_8_1.png
Due: none

feat(tabs): disabled prop changed to isDisabled for Tab
  packages/react-magma-docs/src/pages/api/tabs.mdx
  packages/react-magma-dom/src/components/Tabs/Tab.test.js
  packages/react-magma-dom/src/components/Tabs/Tab.tsx
  packages/react-magma-dom/src/components/Tabs/Tabs.test.js
  packages/react-magma-dom/src/components/Tabs/TabsContainer.test.js
  packages/react-magma-dom/src/components/Tabs/index.tsx
Due: prettier --write, eslint --fix

feat(nav tabs): very start of nav tabs
  packages/react-magma-docs/src/pages/api/nav-tabs.mdx
  packages/react-magma-dom/src/components/NavTabs/NavTab.tsx
  packages/react-magma-dom/src/components/NavTabs/NavTabs.test.js
  packages/react-magma-dom/src/components/NavTabs/index.tsx
  packages/react-magma-dom/src/index.ts
Due: prettier --write, eslint --fix

feat(nav tabs): styles for nav tabs
  packages/react-magma-docs/src/pages/api/nav-tabs.mdx
  packages/react-magma-docs/src/pages/api/tabs.mdx
  packages/react-magma-dom/src/components/NavTabs/NavTab.tsx
  packages/react-magma-dom/src/components/NavTabs/NavTabs.test.js
  packages/react-magma-dom/src/components/NavTabs/index.tsx
  packages/react-magma-dom/src/components/Tabs/Tab.tsx
  packages/react-magma-dom/src/components/Tabs/index.tsx
Due: prettier --write, eslint --fix

feat(nav-tabs): allow for component nav tabs
  packages/react-magma-dom/src/components/NavTabs/NavTab.tsx
Due: prettier --write, eslint --fix
